---
layout: archive
---

{{ content }}
<h3 class="archive__subtitle">About</h3>
<p class="archive__selfdefine-content">Hi! I'm Rongkai Shi, a fourth-year Ph.D. student at University of Liverpool, advised by <a href="https://www.xjtlu.edu.cn/en/departments/academic-departments/school-of-advanced-technology/staff/haining-liang">Prof. Hai-Ning Liang</a>. 
Previously, I completed my undergraduate degree at Xi'an Jiaotong-Liverpool University and worked as a research assistant in 
<a href="https://www.researchgate.net/lab/X-CHI-Lab-Hai-Ning-Liang">X-CHI Lab</a>. 
My research interests fall broadly into Human-Computer Interaction (HCI) and Interaction Design. 
In specific, I focused on researching, designing, and evaluating interaction techniques, especially those involving multiple input modalities, for complex interaction scenarios in Virtual/Augmented Realty (VR/AR) systems. 
</p>

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %} -->

<h3 class="archive__subtitle">Latest News</h3>
<ul class="archive__selfdefine-content">
  <li><b>Mar-May 2024</b>: Two outcomes from the Stick-based Design in XR project. Our preliminary results were published and presented at CHI'24 LBW, and in-depth analyses will appear at DIS'24 soon. </li>
  <li><b>Feb 2024</b>: Two papers were published and presented at IEEE VR'24. </li>
  <li><b>Feb 2024</b>: Served as an AC for CHI'24 LBW.</li>
  <li><b>Jan 2024</b>: Two co-authored papers on text entry in VR were published. </li>
</ul>


<h3 class="archive__subtitle">Selected Publications</h3>

{% assign publications = site.publications | sort: "indexnum" | reverse %}
{% for pub in publications %}
{% if pub.selected == true %}
<div class="pubitem">
    <div class="pubteaser">
        <!-- <a href="{{pub.url}}"> -->
          <img
            src="/assets/pubimg/{{ pub.slug }}.jpg"
            alt="{{pub.slug}} publication teaser"
          />
        <!-- </a> -->
    </div>
    <div class="pubtext">
        <p class="pubtitle">{{ pub.title }}</p>
        <p class="pubauthors">{{ pub.authors }}</p>
        <p class="pubinfo">{{ pub.publication }}, {{ pub.year }}</p>        
        <p class="publinks" style="text-align:left;">
            {% if pub.doi != "" %}
            <a href={{pub.doi}} class="btn btn--inverse">DOI</a>
            {% endif %}
            <!-- <a href={{pub.doi}} class="btn btn--inverse">DOI</a> -->
            <a href={{pub.url}} class="btn btn--inverse">BibTeX</a>
            {% if pub.video != "" %}
            <a href={{pub.video}} class="btn btn--inverse">Video</a>
            {% endif %}
            {% if pub.paperrep == true %}
            <a href="/assets/papers/{{ pub.slug }}.pdf" class="btn btn--inverse">Paper</a>
            {% endif %}
            <!-- <a href="#" class="btn btn--info">PDF</a> -->
        </p>
</div>
</div>
{% endif %}
{% endfor %}
<p class="archive__selfdefine-content">View full list of publications <a href=publications><i class="fas fa-link"></i></a></p>

<!-- <div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %} -->

