---
layout: archive
---

{{ content }}
<h3 class="archive__subtitle">Publications</h3>
<p class="archive__selfdefine-content">You can also find my articles on my
<a href="https://scholar.google.com/citations?user=0VF4NWIAAAAJ&hl=en&oi=ao">Google Scholar</a> profile.
</p>
<p class="archive__selfdefine-content">[J] Journal papers; [C] Conference papers; [P] Posters, demos, or other extended abstracts.</p>

{% assign publications = site.publications | sort: "indexnum" | reverse %}
{% for pub in publications %}
<!-- <div class="pubteaser">
      <img
        src="/assets/pubimg/{{ pub.slug }}.jpg"
        alt="{{pub.slug}} publication teaser"
      />
</div> -->
<div class="pubitem">
    <div class="pubteaser">
        <!-- <a href="{{pub.url}}"> -->
          <img
            src="/assets/pubimg/{{ pub.slug }}.jpg"
            alt="{{pub.slug}} publication teaser"
          />
        <!-- </a> -->
    </div>
    <div class="pubtext">
        <p class="pubtitle">{{ pub.index }} {{ pub.title }}</p>
        <p class="pubauthors">{{ pub.authors }}</p>
        <p class="pubinfo">{{ pub.publication }}, {{ pub.year }}</p>        
        <p class="publinks" style="text-align:left;">
            {% if pub.doi != "" %}
            <a href={{pub.doi}} class="btn btn--inverse">DOI</a>
            {% endif %}  
            <a href={{pub.url}} class="btn btn--inverse">BibTeX</a>
            {% if pub.video != "" %}
            <a href={{pub.video}} class="btn btn--inverse">Video</a>
            {% endif %}
            {% if pub.paperrep == true %}
            <a href="/assets/papers/{{ pub.slug }}.pdf" class="btn btn--inverse">Paper</a>
            {% endif %}
            <!-- <a href="#" class="btn btn--info">PDF</a> -->
        </p>
</div>

</div>
{% endfor %}